html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

section {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: block;
	transform: translateZ(0);
}

@media screen and (min-width: 767px) {
	html, body {
		max-width: 800px;
		background-color: #000;
		color: #fff
	}
	section {
		animation: appear 1s linear 0s;
	}

	@keyframes appear {
		from {
			transform: scale(0)
		}
		to {
			transform: scale(1)
		}
	}
}
@media screen and (min-width: 959px) {
	html, body {
		color: #444;
		font-size: 22px;	
	}
}